<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>My Chakras</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
    <style>
        body {
            background-image: url('img/gradient.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        #logo {
            float: left;
            width: 90%;
        }
        
        #logo-img {
            margin: 20px;
        }
        
        #login {
            float: right;
            font-size: 15px;
            margin-top: 40px;
        }
        
        main {
            padding-top: 10%;
        }
        
        footer {
            position: fixed;
            bottom: 10px;
            right: 20px;
        }
        
        .register {
            color: #A9A9A9;
        }
        
        .title {
            text-align: center;
        }
        
        #subtitle {
            margin-bottom: 50px;
            text-align: center;
            font-size: 20px;
            color: #A9A9A9;
        }
        
        #my-chakras {
            color: #DCDCDC;
            font-family: 'Megrim', cursive;
            font-size: 3em;
        }
        
    </style>