<!-- views/partials/header-chakra.ejs -->
<nav>
    <div id="logo"><a href="/mychakras" title="Back to Chakras"><img src="../img/namaste.png"
      alt="namaste logo" height="auto" width="70" id="logo-img"></a><div id="how-to">How To</div></div>
    <div id="login"><a href="/logout">Logout</a></div>
</nav>
