nav {
    padding-top: 20px;
}

body {
    background-image: url('../img/gradient.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
}

html {
    position: relative;
    min-height: 100%;
}

#logo {
    float: left;
    width: 20%;
}

#logo-img {
    margin: 20px;
}

#login {
    float: right;
    font-size: 27px;
    margin-top: 40px;
    margin-right: 40px;
    font-weight: lighter;
}

.main-login {
    padding-top: 5em;
    width: 60%;
    margin: auto;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;

}

.register {
    color: #A9A9A9;
    font-size: 17px;
}

.title {
    text-align: center;
}

#subtitle {
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
    color: #A9A9A9;
}


#chakra-table img {
    width: 80%;
    height: auto;
    margin-bottom: 5px;
}

#chakra-table {
    font-size: 2em;
    font-family: 'Megrim', cursive;
}

.crown {
    color: #8A2BE2;
}

.third-eye {
    color: #0000FF;
}

.throat {
    color: #99ccff;
}

.heart {
    color: #00ff00;
}

.solar {
    color: #ffff66;
}

.sacral {
    color: #FFA500;
}

.root {
    color: red;
}

.container {
    margin: auto;
    width: 50%;
    color: #A9A9A9;
    font-size: 19px;
    font-weight: 200;
}

#container-table {
    margin: auto;
    width: 50%;
    text-align: center;
}

#container-table h1 {
    font-family: 'Megrim', 'cursive';
    color: #A9A9A9;
    margin-bottom: 40px;
}

.title-container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title-container img {
    width: 50%;
    height: auto;

}

.chakra-title  {
     font-family: 'Megrim', cursive;
     font-size: 25px;
     color: #A9A9A9;
     padding-top: 5%;
}

.description {

    margin-top: 30px;
}

.container img {
     width: 15%;
}

#connected {
    color: white;
    float: left;
    width: 60%;
    padding-left: 10px;
}

#how-to {
  color: white;
  font-size: 25px;
  font-weight: lighter;
  cursor: help;
  padding-left: 25px;

}

#how-to:hover {
  color: #cc66ff;
}

#entry-one, #entry-two, #entry-three {
  color: white;
}

#demo {
  color: white;
  width: 70%;
  text-align: center;
}

.footer-position {
  padding-left: 20px;
}
