<!-- views/signup.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <div id="main">
        <h1 id="my-chakras">MY CHAKRAS</h1>
        <div id="container">
            <table id="my-chakras" align="center">
                <tr><td><img src="img/crown.png" alt="crown chakra" class="crown"></td><td class="crown">KNOW</td></tr>
                <tr><td><img src="img/third-eye.png" alt="third-eye chakra" class="third-eye"></td><td class="third-eye">SEE</td></tr>
                <tr><td><img src="img/throat.png" alt="throat chakra" class="throat"></td><td class="throat">SPEAK</td></tr>
                <tr><td><img src="img/heart.png" alt="heart chakra" class="heart"></td><td class="heart">LOVE</td></tr>
                <tr><td><img src="img/solar-plexus.png" alt="solar plexus chakra" class="solar"></td><td class="solar">STRIVE</td></tr>
                <tr><td><img src="img/sacral.png" alt="sacral chakra" class="sacral"></td><td class="sacral">FEEL</td></tr>
                <tr><td><img src="img/root.png" alt="root chakra" class="root"></td><td class="root">GROUND</td></tr>
            </table>
        </div>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>