<!-- views/signup.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
            <main id="container-table" class="main-login">
        <h1>MY CHAKRAS</h1>
            <table id="chakra-table" align="center">
                <tr><td><a href="/crown" title="crown chakra"><img src="img/crown.png" alt="crown chakra" class="crown"></a></td><td class="crown">KNOW</td></tr>
                <tr><td><a href="/thirdeye" title="third-eye chakra"><img src="img/third-eye.png" alt="third-eye chakra" class="third-eye"></a></td><td class="third-eye">SEE</td></tr>
                <tr><td><a href="/throat" title="throat chakra"><img src="img/throat.png" alt="throat chakra" class="throat"></a></td><td class="throat">SPEAK</td></tr>
                <tr><td><a href="/heart" title="heart chakra"><img src="img/heart.png" alt="heart chakra" class="heart"></a></td><td class="heart">LOVE</td></tr>
                <tr><td><a href="/solarplexus" title="solar-plexus chakra"><img src="img/solar-plexus.png" alt="solar plexus chakra" class="solar"></a></td><td class="solar">STRIVE</td></tr>
                <tr><td><a href="/sacral" title="sacral chakra"><img src="img/sacral.png" alt="sacral chakra" class="sacral"></td></a><td class="sacral">FEEL</td></tr>
                <tr><td><a href="/root" title="root chakra"><img src="img/root.png" alt="root chakra" class="root"></a></td><td class="root">GROUND</td></tr>
            </table>
        </main>   
   
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>