<!-- views/pages/root.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div id="title-container">
            <h2 class="chakra-title">Root Chakra</h2>
            <a href="/root" title="root chakra"><img src="img/root.png" alt="root chakra" class="root"></a>
        </div>
        <div class="container">
            <p class="description">The Root Chakra represents our foundation and feeling of being grounded and secure.</p>
            <ul class="chakra-list">
                <li><strong>Location:</strong> Base of spine in tailbone area</li>
                <li><strong>Color:</strong> Red</li>
                <li><strong>How it affects you:</strong> Survival concerns such as money and food</li>
            </ul>
            <p><strong>Root Chakra Meditation:</strong> The element of the root chakra is the earth. Go 
            outside, sit on the grass or under a tree.  Close your eyes, and take three deep breaths in and out.  
            Imagine a bright red light at the base of your tailbone.  Picture this red light extending
            down your legs and feet, grounding you to the earth.</p>
            <div class="form-group">
              <label for="comment">Did you connect with your chakra doing the exercise? Write down your thoughts here:</label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            <p>One of the yoga poses that connects you to your root chakra is the tree pose. Get on your yoga 
            mat. Do the tree pose. Take deep breaths in and out five to eight times, then switch legs.
            <img src="img/tree-pose.png" alt="tree-pose" width="15%" height="auto"></p>
            <div class="form-group">
              <label for="comment">Write down any relieve or tensions you felt on your body doing this pose:</label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            <div class="form-group">
              <label for="comment">My lessons learned today about this chakra:</label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>